* {
    font-family: 'Roboto', sans-serif;
}

html,body {
    background-color: #fff;
    margin:0px;
    padding: 0px;
    overflow-x:hidden;
    overflow-y:auto;
    text-align:left;
    font-family: 'Roboto', sans-serif;
}

.main {
    height: 100%;
}

.main > div {
    height: 100%;
    padding-top: 23px;
}

.main > .login-container {
    background-color: #3f414a;
}

.content {
    width: 500px;
    margin-right: 40px;
}

    .content h1 {
        margin-top: 58px;
        font-size: 46px;
        font-weight: bold;
        line-height: 1.04;
        color: #3f414a;
    }

    .content .promo {
        margin-top: 14px;
        font-size: 25px;
        font-weight: 500;
        color: #979797;
    }

    .content .warning {
        display: flex;
        margin-top: 37px;
        padding: 20px;
        border-radius: 5px;
        border: solid 1px #e0e0e0;
    }

        .content .warning img {
            margin-right: 10px;
        }

        .content .warning p {
            font-size: 18px;
            color: #3f414a;
        }
        
    .login-container {
        padding-left: 46px;
    }

        .login-container .error {
            width: 343px;
            min-height: 56px;
            padding: 12px;
            border-radius: 8px;
            background-color: #f36026;
            box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2);
            font-size: 16px;
            color: #ffffff;
            opacity: 0;
        }

        .login-container form {
            margin-top: 27px;
        }

            .login-container form h3 {
                font-size: 22px;
                font-weight: 500;
                color: #ffffff;
                margin-bottom: 21px;
            }

            .login-container form .inp {
                position: relative;
            }

            .login-container form .inp::before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 100;
            }

            .login-container form .inp.login::before {
                top: 11px;
                left: 13px;
                width: 19px;
                height: 21px;
                background: url('../img/login.svg');
            }

            .login-container form .inp.pass::before {
                top: 9px;
                left: 13px;
                width: 20px;
                height: 26px;
                background: url('../img/pass.svg');
            }

            .login-container form input {
                position: relative;
                border-radius: 8px;
                border: solid 1px #747579;
                font-size: 18px;
                color: #3f414a;
                width: 340px;
                height: 44px;
                padding-left: 46px;
                margin-bottom: 6px;
            }

            .login-container form button {
                width: 340px;
                height: 44px;
                background-color: #1ebc8e;
                border-radius: 8px;
                border: none;
                font-size: 20px;
                font-weight: 500;
                color: #ffffff;
            }

            .login-container form button:disabled {
                opacity: 0.5;
            }

/*
.logo{
    margin-bottom: 130px;
}

h1{
  font-family: 'Roboto Mono';
  line-height: 53px;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  color: #3f414a;
 }

h1+p{
  display:inline-block;
  margin-top: 14px;
  margin-bottom: 75px;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  color: #979797;
}

h1+p+p{
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 26px;s
  letter-spacing: 2.1px;
  text-align: left;
  color: #a5a5a5;
}

.btn-price{
    height: 64px;
    min-height: 64px;
    border-radius:32px;
    background-color: #2bb2a7;
    color: #fff;
    padding: 0px 48px;
    font-size: 37px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    float:left;
}

.btn-price:hover{
    color: #fff;
}

.btn-price+img{
    margin-left: 36px;
    margin-top:5px;
}

.illustration{
    max-height: 550px;
    float:left;
}

body>.row+.row{
  height: 331px;
  margin-top: 40px;
  background-color: #3f414b;
  text-align:center;
}

body>.row+.row h2 {
  width: 510px;
  height: 66px;
  font-family: 'Roboto Mono';
  margin: 54px auto;
  font-size: 25px;
  line-height: 33px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.btn-aqua{
  height: 64px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  border-radius: 5px;
  background-color: #2bb2a7;
  color: #fff;
  margin-left: 69px;
}

.btn-aqua:hover{
    color: #fff;
}

input[type=text], input[type=password]{
  width: 280px;
  height: 60px;
  border-radius: 6px;
  border: solid 1px rgba(151, 151, 151, 0.6);
  background: none;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  padding-left: 51px;
  margin-left: 15px;
}

input[type=text]{
    background-image: url("../img/icon_form_login.svg");
    background-position: 15px; center;
    background-repeat: no-repeat;
}
input[type=password]{
    background-image: url("../img/icon_form_password.svg");
    background-position: 15px; center;
    background-repeat: no-repeat;
}

h3 {
    height: 20px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.6px;
    text-align: center;
    color: #bebebe;
    text-transform: uppercase;
    margin: 51px 0px 25px 0px;
}*/